body{
  background: #F2F7FF;
  position: relative;
  margin: 0;
  padding: 0;
}
.wrapper{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
}

.item.item-circle{
  z-index:5
}

/* items */
.item.item-circle,
.item.contenedor-fotografias{
  position: absolute;
  display: flex;
  justify-content:center;
  align-items:center;
  overflow: hidden;
  transition: .5s;
   width: 250px;
  height: 250px;
  transform-origin:center
}

.item.contenedor-fotografias .fotografias{
   width: 50%;
  height: 200px;
}

.item-vector {
  width: 45px;
}

.fotografias img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: top center;
}


.item.contenedor-fotografias.posicion-1 .fotografias{
  clip-path: xywh(0px 0px 100% 100% round 400px 0px);
}

.item.contenedor-fotografias.posicion-2 .fotografias{
  clip-path: xywh(0px 0px 100% 100% round 400px 0px);
}

.item.contenedor-fotografias.posicion-3 .fotografias {
  clip-path: xywh(0px 0px 100% 100% round 0px 400px);
}

.item.contenedor-fotografias.posicion-4 .fotografias{
  clip-path: xywh(0px 0px 100% 100% round 0px 400px);
}

.item.contenedor-fotografias.posicion-5 .fotografias{
 clip-path: path("M0.000114869 100.003C-0.0331753 119.002 7.16981 137.78 21.1133 155.042C35.0567 172.305 55.4093 187.643 80.7693 200C109.804 169.258 125 134.901 125 99.9996C125 65.0987 109.804 30.742 80.7693 0C55.4096 12.3585 35.0572 27.6973 21.1139 44.9612C7.17055 62.225 -0.0324669 81.0032 0.000114869 100.003Z")
}

.item.contenedor-fotografias.posicion-6 .fotografias{
  clip-path: xywh(0px 0px 100% 100% round 400px 0px);
}

.item.contenedor-fotografias.posicion-7 .fotografias{
  clip-path: xywh(0px 0px 100% 100% round 400px 0px);
}

.item.contenedor-fotografias.posicion-8 .fotografias{
  clip-path: xywh(0px 0px 100% 100% round 0px 400px);
}

.item.contenedor-fotografias.posicion-9 .fotografias{
  clip-path: xywh(0px 0px 100% 100% round 0px 400px);
}

.item.contenedor-fotografias.posicion-10 .fotografias{
  clip-path: path("M0.000114869 100.003C-0.0331753 119.002 7.16981 137.78 21.1133 155.042C35.0567 172.305 55.4093 187.643 80.7693 200C109.804 169.258 125 134.901 125 99.9996C125 65.0987 109.804 30.742 80.7693 0C55.4096 12.3585 35.0572 27.6973 21.1139 44.9612C7.17055 62.225 -0.0324669 81.0032 0.000114869 100.003Z")
}
/* Controles */

.controls{
  /* position: absolute; */
  top: 50%;
  left: 0;
  right: 0;
  /* transform: translateY(-50%); */
  width: 100%;
  display: flex;
  justify-content: center;
}
.left, .right{
  color:transparent;
  font-size: 24px;
  font-size: 600px;
  cursor: pointer;
}

.left{
  margin-right: 10px;
}
.right{
  margin-left: 10px;
}

.selection-off{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* Responsive */

@media screen and (max-width: 768px) {
  .item{
    width: 60px;
    height: 60px;
    font-size: 1.5em;
  }
  .wrapper{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
  }
  .controls{
    top: 20px;
  }
  .left{
    margin-right: 50px;
  }
  .right{
    margin-left: 50px;
  }
  a{
    bottom: 20px;
    height: 50px;
    width: 200px;
    font-weight: 600;
    font-size: 1em;
  }
}
footer.container-footer {
  height:100px;
  background:#281c4e;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  font-family:monospace;
  font-size:2em;
  width:100%;
  z-index:5
}

/* body{
  display:flex;
  align-items:end;
} */